body {
    background-color: #FFFAF3;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    margin-top: 0;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

/* Flashing effect keyframes */
@keyframes flashWarning {
    0%, 100% {
        background-color: red;
    }
    50% {
        background-color: black;
    }
}

/* Flashing rectangle styles */
#flashing-rectangle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; /* Initially hidden */
    pointer-events: none; /* Ensure it doesn't interfere with interactions */
    z-index: 9999; /* Ensure it is on top of other content */
}

#flashing-rectangle.active {
    opacity: 0.5; /* Make it visible with 50% opacity */
    animation: flashWarning 1s infinite;
}

.pinyon-script-regular {
    font-family: "Pinyon Script", cursive;
    font-weight: 300;
    font-style: normal;
}

.container {
    display: flex;
    padding: 20px;
    gap: 20px;
    height: 95vh;
}
  
.column-1 {
    flex: 1;
    background-color: #FFFAF3;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
}
  
.column-2 {
    flex: 3;
    background-color: white;
    border: 2px solid black;
    position: relative;
    display: flex;
    justify-content: flex-end; /* Aligns the content to the right */
    align-items: flex-end; /* Aligns the content to the bottom */
    overflow: hidden;
}
  
.column-2 a {
    display: flex; /* Makes the link a flex container */
    justify-content: flex-end; /* Aligns the image to the right within the link */
    align-items: flex-end; /* Aligns the image to the bottom within the link */
    width: 100%; /* Ensure the link takes up full width */
    height: 100%; /* Ensure the link takes up full height */
    overflow: hidden;
}

.column-2 img {
    height:60vh;
    object-fit: contain;
    object-fit: cover; /* Crops the image if it overflows */
}

.icons {
    display: flex;
    flex-direction: row;
    width: 15vw;
    margin: 40px;
    /* border: 1px solid black; */
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.icons a {
    transition: ease-in-out 0.25s;
}

.icons a:hover {
    box-shadow: 0 0 15px white;
    transform: scale(1.15);
}

.icons img {
    height: 40px;
    width: auto;
    object-fit: contain;
}

h1 {
    font-family: "Pinyon Script", cursive;
    font-size: 4rem;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: .9rem;
}


@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        height: 100vh; /* Ensure the container takes up the full height of the viewport */
    }

    .column-1 {
        flex: 1;
        justify-content: center; /* Vertically center content in column-1 */
    }

    .column-2 {
        flex: 1; 
        justify-content: flex-end; /* Ensure content stays at the bottom-right */
        align-items: flex-end;
        overflow: hidden;
    }

    .column-2 img {
        height:30vh;
        object-fit: contain;
        object-fit: cover; 
    }

    h1 {
        font-size: 3rem;
    }
    
    p {
        font-size: .9rem;
    }
}
